<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="card">
    <div class="title">New Post Notification</div>
    <div class="content">
        <p>Hello, [User Name]</p>
        <p>A new post has been created. Click the link below to view the post:</p>
        <a href="[Post Link]" target="_blank">View Post</a>
    </div>
</div>
</body>
</html>
